<!doctype html>
<head>
    <link rel="stylesheet" href={{ url_for('.static', filename='css/extra.css') }}>
    <link rel="stylesheet" href={{ url_for('.static', filename='css/reveal.css') }}>
    <link rel="stylesheet" id="theme" href={{ url_for('.static', filename='css/theme/black.css') }}>
    <link rel="stylesheet" id="theme" href={{ url_for('.static', filename='lib/font/source-sans-pro/source-sans-pro.css') }}>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src={{ url_for('.static', filename='js/jquery-2.1.3.js') }}></script>
    <!--Add support for earlier versions of Internet Explorer -->
    <!--[if lt IE 9]>
    <script src={{ url_for('.static', filename='lib/js/html5shiv.js') }}></script>
    <![endif]-->


</head>
<body>
    <form name="timer" id="timer"><label for="display"></label><input type="text" size="4" name="display" id="display" readonly></form>
    <div class="reveal">
        <div class="slides">

            <section>
                <h1>Waiting For Next Round</h1>
            </section>

            <section>
                <h1>Game is about to start</h1>
            </section>

            <section>
                <h1>Category</h1>
                <h1><span id="category_page2"></span></h1>
                <br>
                <h3>Wager points</h3>
                <br>
            </section>

            <section>
                <h2><span id="category_page3"></span></h2>
                <br>
                <h1>Clue</h1>
                <h3><span id="clue_page3"></span></h3>
                <br>
                <h3>Pick An Answer</h3>
                <br>
                <form id="answer">
                    |
                    <input id="radio1" type="radio" name="answer" value="0">
                    <label for="radio1">
                        <span id="answer1_page3"></span>
                    </label>
                     |
                    <input id="radio2" type="radio" name="answer" value="1">
                    <label for="radio2">
                        <span id="answer2_page3"></span>
                    </label>
                     |
                    <input id="radio3" type="radio" name="answer" value="2">
                    <label for="radio3">
                        <span id="answer3_page3"></span>
                    </label>
                     |
                </form>
            </section>

            <section>
                <h1>Answer</h1>
                <br>
                <h1><span id="answer_page4"></span></h1>
            </section>

            <section>
                <h3>Answer: <span id="answer_page5"></span></h3>
                <br>
                <h1>Results</h1>
                <table>
                    <thead>
                        <tr>
                            <th>
                               User
                            </th>
                            <th>
                                Outcome
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>

        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.core.js'></script>
    <script src={{ url_for('.static', filename='js/reveal.js') }}></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type=text/javascript src={{ url_for('.static', filename=game_script) }}></script>
</body>
