{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">jGame! <span class="text-muted">Play every round like Final Jeopardy!</span></h2>
                <p class="lead">A simple Jeopardy! game where you wager points and answer questions!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About1.png') }}">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About2.png') }}">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Two styles of game modes. <span class="text-muted">Normal and practice.</span></h2>
                <p class="lead">Play normal mode to answer questions in a timed environment with other players. Play practice mode to answer questions at your own pace!</p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Put the game on the big screen! <span class="text-muted">Group play without seperate devices!</span></h2>
                <p class="lead">Follow along the normal mode as a spectator. Perfect for groups that want to play in person.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About3.png') }}">
            </div>
        </div>
    </div>
{% endblock %}