{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Waiting Page <span class="text-muted">The holding room for new players!</span></h2>
                <p class="lead">A simple Jeopardy! game where you wager points and answer questions!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About1.png') }}">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About2.png') }}">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Starting Page <span class="text-muted">The game is about to start.</span></h2>
                <p class="lead">Play normal mode to answer questions in a timed environment with other players. Play practice mode to answer questions at your own pace!</p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Waiting Page <span class="text-muted">The holding room for new players!</span></h2>
                <p class="lead">A simple Jeopardy! game where you wager points and answer questions!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About1.png') }}">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About2.png') }}">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Starting Page <span class="text-muted">The game is about to start.</span></h2>
                <p class="lead">Play normal mode to answer questions in a timed environment with other players. Play practice mode to answer questions at your own pace!</p>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Waiting Page <span class="text-muted">The holding room for new players!</span></h2>
                <p class="lead">A simple Jeopardy! game where you wager points and answer questions!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About1.png') }}">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-thumbnail" src="{{ url_for('.static', filename='img/About2.png') }}">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Starting Page <span class="text-muted">The game is about to start.</span></h2>
                <p class="lead">Play normal mode to answer questions in a timed environment with other players. Play practice mode to answer questions at your own pace!</p>
            </div>
        </div>
    </div>
{% endblock %}